<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Our services </a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Career</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Awning Technologies</p>
  </footer>
</div>