<div class="border-bottom row" style= "margin-bottom:4px;
  padding-bottom:4px;" color=>

          <div class="col-6">
            <h2> Web Development</h2>
             <d> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat vivamus at augue eget arcu dictum varius duis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Dolor sit amet consectetur adipiscing elit. Enim nulla aliquet porttitor lacus luctus. Malesuada fames ac turpis egestas maecenas pharetra. Cras semper auctor neque vitae tempus quam pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Nulla facilisi etiam dignissim diam quis enim lobortis. Nunc sed blandit libero volutpat sed. A erat nam at lectus. Suspendisse ultrices gravida dictum fusce ut.</d>  
               
        <a href= "https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/services/web" type="button" class="btn btn-outline-primary">More</a>
                
               </div>    
  
             <div  class="col-6">
          <img class="img-fluid" id="banner" class="text-center" src="https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/static/j1.jpeg">
              </div>

  
  
             <div class="col-6">
                
               <img class="img-fluid" id="banner" class="text-center" src="https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/static/j1.jpeg">
             </div>
    
        <div class="col-6">
          <h2> App Development</h2>
      <d> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat vivamus at augue eget arcu dictum varius duis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Dolor sit amet consectetur adipiscing elit. Enim nulla aliquet porttitor lacus luctus. Malesuada fames ac turpis egestas maecenas pharetra. Cras semper auctor neque vitae tempus quam pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Nulla facilisi etiam dignissim diam quis enim lobortis. Nunc sed blandit libero volutpat sed. A erat nam at lectus. Suspendisse ultrices gravida dictum fusce ut.   </d>  
              <a href= "https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/services/app" type="button" class="btn btn-outline-primary">More</a>
            </div>
  

<div class="col-6">
   <h2> Digital Marketing </h2>
     <d> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat vivamus at augue eget arcu dictum varius duis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Dolor sit amet consectetur adipiscing elit. Enim nulla aliquet porttitor lacus luctus. Malesuada fames ac turpis egestas maecenas pharetra. Cras semper auctor neque vitae tempus quam pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Nulla facilisi etiam dignissim diam quis enim lobortis. Nunc sed blandit libero volutpat sed. A erat nam at lectus. Suspendisse ultrices gravida dictum fusce ut.    </d>  

<a href= "https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/services/digital" type="button" class="btn btn-outline-primary"">More</a>

       </div>    

     <div  class="col-6">
  <img class="img-fluid" id="banner" class="text-center" src="https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/static/j1.jpeg">
      </div>
  <div class="col-6">
    
   <img class="img-fluid" id="banner" class="text-center" src="https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/static/j1.jpeg">
  </div>

  <div class="col-6">
    <h2> Market Research </h2>
  <d> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat vivamus at augue eget arcu dictum varius duis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Dolor sit amet consectetur adipiscing elit. Enim nulla aliquet porttitor lacus luctus. Malesuada fames ac turpis egestas maecenas pharetra. Cras semper auctor neque vitae tempus quam pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Nulla facilisi etiam dignissim diam quis enim lobortis. Nunc sed blandit libero volutpat sed. A erat nam at lectus. Suspendisse ultrices gravida dictum fusce ut.   </d>  
  <a href= "https://f1ac6ec8-4958-41a6-a48b-56ea591281c9-00-3rn7sqcskmzn5.pike.replit.dev/services/research" type="button" class="btn btn-outline-primary"">More</a>
  </div>
  
</div>